PORT=4000
CLICKUP_WRITE_MODE=mock
CLICKUP_READ_MODE=mock
CLICKUP_ACCESS_TOKEN=
CLICKUP_API_BASE_URL=https://api.clickup.com/api/v2
CLICKUP_TARGET_TEAM_ID=2199933
CLICKUP_TARGET_LIST_ID=901500224401
CLICKUP_READ_CACHE_TTL_MS=30000
CLICKUP_HTTP_TIMEOUT_MS=10000
